* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.ToDo {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    padding: 50px;

    display: flex;
    flex-direction: column;
}

.sidebar * {
    height: auto;
}

.sidebar > header {
    font-size: 48px;
    text-align: center;
    color: black;
    margin-bottom: 24px;
}

.sidebar > .add {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.addButton {
    border: none;
    border-radius: 50px;
    background-color: rgb(123, 123, 179);
    color: white;
    font-size: 22px;
    padding: 10px;

    transition: all 0.2s ease-out;
}

.addButton:hover {
    background-color: rgb(60, 60, 121);
    cursor: pointer;
}

.projects > h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.projects > button {
    border: none;
    border-top: 2px solid rgb(190, 190, 190);
    background-color: white;
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
    align-self: center;
    
    transition: all 0.2s ease-out;
}

.projects > button:nth-last-of-type(1) {
    border-bottom: 2px solid rgb(190, 190, 190);
}

.projects > button:hover {
    color: white;
    background-color: rgb(150, 176, 224);
    cursor: pointer;
    border-top-color: rgb(32, 44, 221);
    border-bottom-color: rgb(32, 44, 221);
}

.projects > button:hover + button {
    border-top-color: rgb(32, 44, 221);
}

.index {
    background-color: rgb(199, 199, 199);
}

footer {
    background-color: rgb(235, 235, 235);
    color: black;
    text-align: center;
    width: 100%;
    height: 40px;
}

footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dialogs */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 400px;

    padding: 24px;

    text-align: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.39);
}

dialog > form {
    height: auto;
}

.addForm > form > h1 {
    margin-bottom: 24px;
}

td, th {
    text-align: left;
    padding: 10px 5px;
}

th {
    text-align: right;

    font-size: 18px;
}

td > input, textarea {
    font-size: 18px;
}

.addForm > form > button {
    color: white;
    background-color: rgb(123, 123, 179);
    border: none;
    border-radius: 10px;

    font-size: 18px;
    padding: 16px;

    transition: all 0.2s ease-out;
}

.addForm > form > button:hover {
    background-color: rgb(60, 60, 121);
    cursor: pointer;
}